# API & Web Server
fastapi
uvicorn[standard]
python-multipart
requests

# Data Handling & ML
pandas
pyarrow
joblib
scikit-learn
numpy
xgboost
lightgbm
imbalanced-learn

# ML Experiment Tracking
mlflow

# Visualization
matplotlib
seaborn

# Frontend
streamlit

watchdog